.calculator-grid{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4,6.5rem);
  grid-template-rows: minmax(4rem,auto) repeat(5,4.5rem);
  justify-content: center;
}
.calculator-grid>button{
  cursor: pointer;
  font-size: 2rem;
  border:1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}
.calculator-grid>button:hover{
  background-color: rgba(255, 255, 255, .9);
}
.calculator-grid>button:active{
  background-color: rgba(255, 255, 255, 1);
}
.calculator-grid>button:focus{
  border:4px solid white;
}
.span-two{
  grid-column: span 2;
}
.output{
  grid-column: 1/-1;
  background: rgba(0,0,0,.75);
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand{
  color:rgba(255,255,255,.75);
  font-size: 1rem;
}
.output .current-operand{
  color:white;
  font-size: 2rem;
}